.header {
  width: 80%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 10%;
}

.header titles {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header space {
  margin-left: 40px;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}

.header a:hover,
.header a.active {
  color: #ff0000;
}